{% extends 'base.html' %}

{% block content %}

<div class="container">

  <div class="row">
    <div class="col-md-12">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Features</a>
            </li>
            <li class="nav-item">
              <button type="button" data-html="true" id="cart" class="btn btn-secondary" data-container="body" 
                data-toggle="popover" data-placement="bottom" data-content="Bottom popover">Cart(0)
              </button>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-md-12">
      <form class="card card-sm">
        <div class="card-body row no-gutters align-items-center">
          <div class="col">
            <input type="search" name="item_name" id="" placeholder="search here....."
              class="form-control form-control-borderless">
          </div>
          <div class="col-auto">
            <button type="submit" class="btn btn-success">Search</button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="row">
    {% for product in products %}
    <div class="col-sm-3 mt-3">
      <div class="card">
        <img src="{{product.image}}" class="card-img-top bg-primary" alt="...">
        <div class="card-body">
          <h5 class="card-title"> {{product.title}} </h5>
          <h6 class="card-subtitle mb-2 text-muted"> ₹{{product.price}} </h6>
          <p class="card-text">{{product.description}} </p>
          <a href="/{{product.id}}" class="btn btn-warning">View</a>
          <button id="{{product.id}}" class="btn atc btn-warning">Add to Cart</button>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

  <div class="row">
    <div class="col-md-3 offset-md-4">
      <div class="pagination">
        {% if products.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page={{products.previous_page_number}}"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i></a>
        </li>
        {% endif %}
        <li class="page-item active">
          <a class="page-link" href="?page={{products.number}}">Current</a>
        </li>
        {% if products.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{products.next_page_number}}"><i class="fa fa-arrow-circle-right" aria-hidden="true"></a>
        </li>
        {% endif %}
      </div>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
  integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" 
  crossorigin="anonymous"></script>

<script>
  if (localStorage.getItem('cart') == null){
    var cart = {};
  }
  else{
    cart = JSON.parse(localStorage.getItem('cart'));
  }
  $(document).on('click', '.atc', function(){
    var item_id = this.id.toString();
    // in cart we will store frequency of diff. objects added in it
    if (cart[item_id] != null){
      cart[item_id] += 1;
    }
    else{
      cart[item_id] = 1;
    }
    console.log(cart);
    // saving items in localstorage
    localStorage.setItem('cart', JSON.stringify(cart));
    // access to length of the cart
    leng = Object.keys(cart).length;
    // display this length in the navbar
    document.getElementById('cart').innerHTML = "Cart(" +Object.keys(cart).length+")";
    // enablling popover buttons
  })
  $(function () {
    $('[data-toggle="popover"]').popover();
    document.getElementById('cart').setAttribute('data-content', '<h5>This is the text</h5>');
  });
</script>

{% endblock %}